In [5]:
from pycaret.regression import setup, load_model, create_app
import pandas as pd

In [7]:
data = pd.read_csv('feature_selected_dataset.csv')

exp = setup(data, target='target')

model = load_model('lr_model_credit_prediction')

Transformation Pipeline and Model Successfully Loaded

In [8]:
create_app(model)

Running on local URL:  http://127.0.0.1:7860

To create a public link, set `share=True` in `launch()`.